<fieldset>
<legend><%= l(:jaconda_label_settings) %></legend>

<p>
  <label><%= l(:jaconda_label_subdomain) %></label><%= text_field_tag 'settings[subdomain]', @settings['subdomain'] %>
</p>

<p>
  <label><%= l(:jaconda_label_room_id) %></label><%= text_field_tag 'settings[room_id]', @settings['room_id'] %>
</p>

<p>
  <label><%= l(:jaconda_label_room_token) %></label><%= text_field_tag 'settings[room_token]', @settings['room_token'] %>
</p>

</fieldset>